
.App {
  background-color: #efc5e4;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.App-head {
  flex-direction: row;
}

.App-navigation {
  align-items: flex-start;
}

.App-buttons {
  align-items: flex-end;
}